<div class="container">

    <form [formGroup]="contactForm">
        <input style="border:none;border-bottom:0.5px solid black; border-radius: 0px;" type="text" class="form-control" placeholder="Category" id="inputTitile" [formControlName]="'title'">
        <span class="help-block" *ngIf="!contactForm.get('title').valid && contactForm.get('title').touched">
            <span *ngIf="contactForm.get('title').errors['required']">
              This field is required
            </span>
            <span *ngIf="!contactForm.get('title').errors['required'] && contactForm.get('title').errors['blankSpaces']">
              Empty string not accepted
            </span>
            </span>
            <br>
            <div class="col-sm-12 offset-sm-2">
            <button type="Add" class="btn btn-success" [disabled]="!contactForm.valid" (click)="onAddCategory()">Add Category</button>
          </div>
           
      </form>
  </div>


