<!--The content below is only a placeholder and can be replaced.-->

<div class="grid-container" style="text-align:center">

  <div style="text-align:left;" class="navigation">
    <div style="margin-bottom:15px" class="searchBar">
      <b><label style="color:white">search:</label></b>
      <input style="width:70%; margin-left:10px" type="string" [(ngModel)]="findInfo" (keyup)="findTask(findInfo)">
      
    
  </div>

  <button class="btn btn-primary" routerLink="/"><img src="assets/home.svg" style="margin-left: 10px"><a > Home</a></button>
 
  <button class="btn btn-primary" routerLink="/completed"><img src="assets/checked.svg" style="width:25px; "><a > Completed</a></button>

  <button class="btn btn-primary" routerLink="/pending" ><img src="assets/clock.svg" style="width:25px; "><a > Pending</a></button>
  <button class="btn btn-primary" routerLink="/category"><img src="assets/briefcase.svg" style="width:25px; "><a> Category</a></button>
  <br>
  <br>  
  <app-edit id="theEdit"></app-edit>
  
</div>
  
  <div id="item1" class="grid-item" >
    <h4 style="background:#ff758c;padding:10px;border-bottom:0.5px solid black">Category</h4>
    <!-- <app-task class="task"     [inputInfo]="{searchType:'catName', searchStr:'completed'}"  ></app-task> -->
    <span class="cat" *ngFor="let cat of catList">

      <b>{{cat.title}}</b>
      <app-task [inputInfo]="{searchType:'catName', searchStr:cat.title}"></app-task>
    </span>

    
    


 
  </div>
  
 
  
  </div>
  