<table class="table table-sm">
  <!-- <thead>
    <tr>
      <th>#</th>
      <th>Task Title</th>
      <th>Task Description</th>
      <th>Category</th>
      <th>DueDate</th>
      <th>Status</th>
    </tr>
  </thead> -->
  
    <!-- <tr *ngFor="let task of taskList; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{task.title}}</td>
      <td>{{task.desc}}</td>
      <td>{{task.catName}}</td>
      <td>{{task.dueDate}}</td>
      <td>{{task.status}}</td>
    </tr> -->
    <!-- Search: <input type="date" [(ngModel)]="searchStr"> -->
    <h2 style="text-align:center;">{{title}}</h2>
    <span style="display:inline-block;padding: 10px;" *ngFor="let task of taskList | find: searchType : searchStr "  >
        <div class="task">
        <h5>{{task.title}} ---- {{task.status}}</h5> 
        Due on  :<b style="margin:20px;">{{task.dueDate}}</b>
        <br>
        Category:
        <b style="margin:9px;">{{task.catName}}</b>
        <br>
        Description: <br>
        <b>{{task.desc}}</b>

        
          <br>
       <button id="buttons" class="btn btn-primary" (click)="remove(task.taskId)">Delete</button>

       <button id="buttons" class="btn btn-primary" (click)="completed(task.taskId)">Completed</button>

       <button id="buttons" class="btn btn-primary" (click)="edit(task.taskId)">Edit</button>

        </div>

        
    </span>
    
    
    
  
</table>
