.task{
    border-left: 3px solid red;
    background-color: lightgrey;
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
    text-align:left;
}

#buttons{
    margin-right: 5px;
    margin-top: 50px;
    padding: 5px;
    padding-left: 8px;
    padding-right:8px;
    
    
}
