<table class="table table-sm">
  <!-- <thead>
    <tr>
      <th>#</th>
      <th>Task Title</th>
      <th>Task Description</th>
      <th>Category</th>
      <th>DueDate</th>
      <th>Status</th>
    </tr>
  </thead> -->
  
    <!-- <tr *ngFor="let task of taskList; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{task.title}}</td>
      <td>{{task.desc}}</td>
      <td>{{task.catName}}</td>
      <td>{{task.dueDate}}</td>
      <td>{{task.status}}</td>
    </tr> -->
    <!-- Search: <input type="date" [(ngModel)]="searchStr"> -->
    
    <h2 style="text-align:center;">{{title}}</h2>
    <span style="display:inline-block;padding: 10px;" *ngFor="let task of taskList | find: searchType : searchStr | find: findType : findStr "  >
        <div class="task" >
        <h5>{{task.title}}</h5> 
        Status  :<b style="margin:25px;">{{task.statusDesc}}</b>
        <br>
        Due on  :<b style="margin:20px;">{{task.dueDate}}</b>
        <br>
        Category:
        <b style="margin:9px;">{{task.catName}}</b>
        <br>
        Description: 
        <b>{{task.desc}}</b>


        
          <br>
       <button id="buttons" class="btn btn-primary" style="width:30%;" (click)="remove(task.taskId)"><img src="assets/trash.svg"> </button>

       <button id="buttons" class="btn btn-primary" style="width:30%;"  (click)="completed(task.taskId)"><img src="assets/clock.svg"> </button>

       <button id="buttons" class="btn btn-primary"  style="width:30%;" (click)="edit(task.taskId)"><img src="assets/edit.svg"> </button>

        </div>

        
    </span>
    
    
    
  
</table>
