.task{
    border-left: 6px solid red;
    background-color: lightgrey;
    padding: 10px;
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
    text-align:left;
}

#delete{
    margin: auto;
}
