<div  class="container">


  <form [formGroup]="contactForm">
        
          
              <!-- TITLE -->
              <mat-form-field class="example-full-width">
                  <input matInput placeholder='Title' #inputTitle [formControlName]="'title'">
                </mat-form-field>
          
          <span class="help-block" *ngIf="!contactForm.get('title').valid && contactForm.get('title').touched">
              <span *ngIf="contactForm.get('title').errors['required']">
                This field is required
              </span>
              <span *ngIf="!contactForm.get('title').errors['required'] && contactForm.get('title').errors['blankSpaces']">
                Empty string not accepted
              </span>
              <!-- <span *ngIf="contactForm.get('title').errors['checkList']">
                  no repeats
                </span> -->
              </span>

              <!-- End of title  -->
       

              <!-- Description -->
              <mat-form-field class="example-full-width">
                  <input matInput placeholder="Description" [formControlName]="'desc'">
                </mat-form-field>

                <span class="help-block" *ngIf="!contactForm.get('desc').valid && contactForm.get('desc').touched">
                    <span *ngIf="contactForm.get('desc').errors['required']">
                      This field is required
                    </span>
                    <span *ngIf="!contactForm.get('desc').errors['required'] && contactForm.get('desc').errors['blankSpaces']">
                      Empty string not accepted
                    </span>
                    <span class="help-block" *ngIf="contactForm.get('desc').errors['maxlength']">
                        Number of character exceeded
                      </span>
                  </span>
         
              <!-- End of description -->


              <!-- Category  -->

              <mat-form-field>
                  <mat-select placeholder="Category" [formControlName]="'cat'">
                    <mat-option *ngFor="let cat of catList" [value]="cat.title">{{cat.title}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>
                <span class="help-block" *ngIf="!contactForm.get('cat').valid && contactForm.get('cat').touched">
                    <span *ngIf="contactForm.get('cat').errors['required']">
                      This field is required
                    </span>
                   

                  </span>

                <!-- End of Category  -->

                <!-- Due Date -->
          <mat-form-field style="width:100%;">
              <input matInput [matDatepicker]="picker" placeholder="Due Date" [formControlName]="'dueDate'">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> 
            <span class="help-block" *ngIf="!contactForm.get('dueDate').valid && contactForm.get('dueDate').touched">
                <span *ngIf="contactForm.get('dueDate').errors['required']">
                  This field is required
                </span>

              </span>
            <!-- End of Due Date -->
            <div class="col-sm-12 offset-sm-3">
                <button [disabled]="!contactForm.valid" type="Add"  class="btn btn-success"  (click)="onAddTask()">Add Task</button>
            </div>
            <br>
            
    
    </form>

<!-- 
<div class="form-group row">
  <div class="col-sm-12 offset-sm-3">
    <button type="Add"  class="btn btn-success" (click)="onAddTask()">Add Task</button>
    
  </div>

 

</div> -->

</div>

