<div  class="container">

  <div class="form-group row" style="margin-bottom: 0">
    <label for="inputName" class="col-sm-6 col-form-label">Title</label>
    <div  class="col-sm-12">
      <input type="text" class="form-control" placeholder='title' id="inputTitle" [(ngModel)]="inputInfo.title">
    </div>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <label for="inputName" class="col-sm-6 col-form-label">Description</label>
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Desc" id="inputDesc" [(ngModel)]="inputInfo.desc">
    </div>
  </div>
  <div class="form-group row" style="margin-bottom: 0">
    <label for="inputName" class="col-sm-6 col-form-label">Category</label>
    <div class="col-sm-12">
      <select class="form-control" [(ngModel)]="inputInfo.catName">
        <option *ngFor="let cat of catList">{{cat.title}}</option>
        
      </select>
    </div>
  </div>
<div class="form-group row" >
  <label for="inputName" class="col-sm-6 col-form-label">DueDate</label>
  <div class="col-sm-12">
    <input type="date" class="form-control" placeholder="Date" id="inputDate" [(ngModel)]="inputInfo.dueDate">
   
<!-- <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="inputInfo.dueDate">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>  -->
    

  </div>
</div>




<div class="form-group row">
  <div class="col-sm-12 offset-sm-3">
    <button type="Add"  class="btn btn-success" (click)="onAddTask()">Add Task</button>
    
  </div>

 

</div>

  </div>

