<div  class="container" *ngFor="let info of EditInfo">
    <div class="col-sm-12 offset-sm-3">
            <h4>Edit Task</h4>
    </div>
                <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Title</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="info.title">
              </div>
      
           <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Description</span>
              </div>
              <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="info.desc">
            </div>

        <mat-form-field>
            <mat-select placeholder="Category" [(ngModel)]="info.catName">
              <mat-option *ngFor="let cat of catList" [value]="cat.title">{{cat.title}}</mat-option>
            </mat-select>
          </mat-form-field>

    <input style="border:none; border-bottom:0.5px solid black; border-radius: 0px;" type="date" class="form-control" id="inputDate"  [(ngModel)]="info.dueDate">

<br>
<div class="col-sm-12 offset-sm-3">
      <button (click)="editted(info)" class="btn btn-primary">Update Task</button>
    </div>
</div>





  
  








 
