<!--The content below is only a placeholder and can be replaced.-->

<div class="side">
  <app-add-cat></app-add-cat>
  
  <app-add-task></app-add-task>
  
  </div>




<div class="grid-container" style="text-align:center">

<div style="text-align:left;" class="navigation">
  <div style="margin-bottom:15px" class="searchBar">
      <input style="width:75%;" type="string" [(ngModel)]="findInfo">
      
      <button style="margin-left: 10px;" class="btn btn-success" (click)="findTask(findInfo)">Find</button>
  </div>

  <button class="btn btn-primary" routerLink="/"><a>Home</a></button>
 
  <button class="btn btn-primary" routerLink="/completed"><a>Completed</a></button>

  <button class="btn btn-primary" routerLink="/pending" ><a>Pending</a></button>
  <button class="btn btn-primary" routerLink="/category"><a>Category</a></button>
  <br>
  <br>
  <br>
  <br>
  <button class="btn btn-success" (click)="show()"><a>Add Task</a></button>
  <button class="btn btn-success"><a>Add Category</a></button>
</div>

<div id="item1" class="grid-item" >
  <h4 style="background:rgb(243, 5, 5);padding:10px;border-bottom:1px solid black">Today</h4>

<app-task [inputInfo]="{searchType:'dueDate', searchStr:today}" ></app-task>
</div>

<div id="item2" class="grid-item">
  <h4 style="background:rgb(230, 255, 4);padding:10px;border-bottom:1px solid black" >Tomorrow</h4>

<app-task [inputInfo]="{searchType:'dueDate', searchStr:tomorrow}"></app-task>
</div>
<div id="item3" class="grid-item">
  <h4 style="background:rgb(5, 250, 128);padding:10px;border-bottom:1px solid black" >Overview</h4>

<app-task ></app-task>
</div>

</div>

<app-edit></app-edit>