<!--The content below is only a placeholder and can be replaced.-->

<div class="grid-container" style="text-align:center">

<div style="text-align:left; height:600px" class="navigation">
  <h2 style="padding:10px;">ToDo List</h2>
  <button class="btn btn-primary"><a>Home</a></button>
  <button class="btn btn-primary"><a>Completed</a></button>
  <button class="btn btn-primary"><a>Pending</a></button>
  <button class="btn btn-primary"><a>Category</a></button>
  <br>
  <br>
  <br>
  <br>
  <button class="btn btn-success"><a>Add Task</a></button>
  <button class="btn btn-success"><a>Add Category</a></button>
</div>

<div class="item2" class="navigation">
<app-task></app-task>
</div>

<div class="item3">
<app-task></app-task>
</div>

</div>