<!--The content below is only a placeholder and can be replaced.-->

<div class="grid-container" style="text-align:center">

  <div style="text-align:left;" class="navigation">
    <div style="margin-bottom:15px" class="searchBar">
      <b><label style="color:white">search:</label></b>
      <input style="width:70%; margin-left:10px" type="string" [(ngModel)]="findInfo" (keyup)="findTask(findInfo)">
      
    
  </div>

  <button class="btn btn-primary" routerLink="/"><a>Home</a></button>
 
  <button class="btn btn-primary" routerLink="/completed"><a>Completed</a></button>

  <button class="btn btn-primary" routerLink="/pending" ><a>Pending</a></button>
  <button class="btn btn-primary" routerLink="/category"><a>Category</a></button>
  <br>
  <br>

  
</div>
  
  <div id="item1" class="grid-item" >
    <h4 style="background:#ff758c;padding:10px;border-bottom:1px solid black">Completed</h4>
    <app-task class="task"     [inputInfo]="{searchType:'statusDesc', searchStr:'completed'}"  ></app-task>


 
  </div>
  
 
  
  </div>
  
    <app-edit></app-edit>